@media screen and (min-width: 768px) {
      .main-menu {
            flex-direction: row;
            justify-content: center;
      }
      .logo-menu {
            width: 100%;
      }
      .main-menu__link {
            font-size: 2rem;
      }
      .card {
            padding: 20px;
      }
      .contenedor__principal-footer {
            font-size: 1.6rem;
      }
}